node_modules/
sessions/
session_backups/
temp_sessions/
silatech/
sila/
silamd/
data-json/
silatz/
*.log
.env.local
.DS_Store
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
creds.json
config.env
.env